# Task to download oh-my-zsh and power10k theme
# you need manually configure both
- name: create_folder_for_fonts
  file:
    path: /usr/local/share/fonts/power10k
    state: directory
    mode: "0644"
  retries: "{{ retries_count }}"
  delay: "{{ delay_time }}"
  register: r_create_folder_for_fonts
  until: r_create_folder_for_fonts is success
  tags:
    - zsh
    - power10k
    - fonts
  any_errors_fatal: false
  ignore_errors: true
- name: download_fonts_for_power10k
  get_url:
    url: "{{ item }}"
    dest: /usr/local/share/fonts/power10k
  retries: "{{ retries_count }}"
  delay: "{{ delay_time }}"
  register: r_download_fonts
  loop:
    - "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"
    - "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf"
    - "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf"
    - "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf"
  until: r_download_fonts is success
  when: r_create_folder_for_fonts is defined and r_create_folder_for_fonts is success
  any_errors_fatal: false
  ignore_errors: true
  tags:
    - zsh
    - power10k
    - fonts
- name: update_font_cache
  shell: fc-cache
  any_errors_fatal: false
  ignore_errors: true
  tags:
    - zsh
    - power10k
    - fonts
  changed_when: false
- name: display_user_name
  debug:
    var: active_user
- name: make_sure_zsh_is_installed
  apt:
    name: zsh
    state: present
    update_cache: yes
  retries: "{{ retries_count }}"
  delay: "{{ delay_time }}"
  register: r_make_sure_zsh_is_installed
  until: r_make_sure_zsh_is_installed is success
  any_errors_fatal: true
  ignore_errors: false
- name: create_or_check_users_groups_for_zsh
  user:
    name: "{{ active_user }}"
    state: present
  any_errors_fatal: false
  register: r_active_user_account
  until: r_active_user_account is success
  tags:
    - base
    - user
- name: fact_for_user_home_dir_zsh
  set_fact:
    active_user_homedir: "{{ r_active_user_account.home }}"
  tags:
    - zsh
  any_errors_fatal: true
  ignore_errors: false
- name: check_if_oh_my_zsh_exists
  stat:
    path: "{{ active_user_homedir }}/.oh-my-zsh"
  register: r_stat_check_if_oh_my_zsh
- name: check_if_power10k_exists
  stat:
    path: "{{ active_user_homedir }}/.oh-my-zsh/custom/themes/powerlevel10k"
  register: r_stat_check_if_power10k
- name: clone_oh-my-zsh
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: "{{ active_user_homedir }}/.oh-my-zsh"
  when: (active_user_homedir is defined and active_user_homedir|length >0) and (not r_stat_check_if_oh_my_zsh.stat.exists)
  become_user: "{{ active_user }}"
  become: true
  register: r_clone_oh_my_zsh
  until: r_clone_oh_my_zsh is success
- name: clone_power10k
  git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ active_user_homedir }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: "1"
  become_user: "{{ active_user }}"
  become: true
  register: r_clone_power10k
  until: r_clone_power10k is success
  when: (r_clone_oh_my_zsh is defined and r_clone_oh_my_zsh is success) and (not r_stat_check_if_power10k.stat.exists)
