[Desktop Entry]
Version=1.0
Name=PacketSender
Comment=PacketSender
Exec=/usr/local/bin/packetsender
Terminal=false
Type=Application
Icon=packetsender
Categories=System;Network
