[Desktop Entry]
Version=1.0
Name=Yubikey Manager
Comment=YubikeyManager
Exec=/usr/local/bin/yubikey-manager
Terminal=false
Type=Application
Categories=System
